body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #fff;
  margin: 0;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: #1e293b;
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.card h3 {
  padding: 10px;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.7);
}

.modal-box {
  background: #020617;
  padding: 20px;
  width: 300px;
  margin: 10% auto;
  border-radius: 8px;
}
